[submodule "Develop/SubModules/GKit"]
	path = Develop/SubModules/GKit
	url = https://github.com/TTOOWA/GKit.git
[submodule "Develop/SubModules/TTOOWA.AvalonDockTheme"]
	path = Develop/SubModules/TTOOWA.AvalonDockTheme
	url = https://github.com/TTOOWA/TTOOWA.AvalonDockTheme.git
