[submodule "PenMotion/SubModules/GKit"]
	path = PenMotion/SubModules/GKit
	url = https://github.com/Bgoon/GKit.git
[submodule "PenMotion/SubModules/Bgoon.AvalonDockTheme"]
	path = PenMotion/SubModules/Bgoon.AvalonDockTheme
	url = https://github.com/Bgoon/Bgoon.AvalonDockTheme.git
